<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h1>Site is currently in Maintenance Mode.</h1>
        <p>We'll be right back :)</p>
    </body>
</html>